/* Estilos generales */
body {
  background-color: black;
  font-family: 'Poppins', sans-serif;
  color: #f0f0f0;
}


.container {
  margin: auto;
  max-width: 960px;
  padding: 20px;
}


.row .col-md-6 img {
  max-width: 100%;
  height: auto;
}

/* Media queries para dispositivos móviles */
@media (max-width: 767px) {
  .row .col-md-6 img {
    max-width: 100%;
    height: auto;
  }
}


